services:
  discovery-server:
    image: stockm-discovery-service:latest
    restart: always
    ports:
      - "8761:8761"
    container_name: discovery-server-dev
    environment:
      SPRING_PROFILES_ACTIVE: prod
      EUREKA_HOSTNAME: discovery-server
      JAVA_OPTS: "-Xms128m -Xmx256m"
    deploy:
      resources:
        limits:
          memory: 512M
    networks:
      - urutare-stock-dev-network
    healthcheck:
      test:
        [
          "CMD",
          "wget",
          "--spider",
          "-q",
          "http://localhost:8761/actuator/health",
        ]
      interval: 30s
      timeout: 5s
      retries: 5
      start_period: 15s
    extra_hosts:
      - "host.docker.internal:host-gateway"

  api-gateway:
    image: stockm-gateway-service:latest
    ports:
      - "8080:8080"
    restart: always
    container_name: api-gateway-dev
    environment:
      - EUREKA_SERVER_URL=http://discovery-server:8761/eureka/
      - JAVA_OPTS= "-Xms128m -Xmx256m"
    env_file:
      - ./secrets/envs/.env.gateway
      - ./secrets/envs/.env.common
    depends_on:
      discovery-server:
        condition: service_healthy
    deploy:
      resources:
        limits:
          memory: 1024M
    volumes:
      - ./secrets/.env.dev.jceks:/app/.env.jceks
    networks:
      - urutare-stock-dev-network
      - urutare-db-network
    healthcheck:
      test:
        [
          "CMD",
          "wget",
          "--spider",
          "-q",
          "http://localhost:8080/actuator/health",
        ]
      interval: 30s
      timeout: 10s
      retries: 3

  user-service:
    image: stockm-user-service:latest
    restart: on-failure:3
    privileged: true
    container_name: user-service-dev
    environment:
      JAVA_OPTS: "-Xms128m -Xmx256m"
    env_file:
      - ./secrets/envs/.env.user
      - ./secrets/envs/.env.common
    depends_on:
      discovery-server:
        condition: service_healthy
      api-gateway:
        condition: service_healthy
    healthcheck:
      test:
        [
          "CMD",
          "wget",
          "--spider",
          "-q",
          "http://localhost:8081/actuator/health",
        ]
      interval: 30s
      timeout: 10s
      retries: 3
      start_period: 10s
    networks:
      - urutare-stock-dev-network
      - urutare-db-network
    volumes:
      - ./secrets/.env.dev.jceks:/app/.env.jceks

  category-service:
    image: stockm-category-service:latest
    env_file:
      - ./secrets/envs/.env.category
      - ./secrets/envs/.env.common
    restart: on-failure:3
    container_name: category-service-dev
    depends_on:
      discovery-server:
        condition: service_healthy
      api-gateway:
        condition: service_healthy
    environment:
      JAVA_OPTS: "-Xms128m -Xmx256m"
    deploy:
      resources:
        limits:
          memory: 512M
    healthcheck:
      test:
        [
          "CMD",
          "wget",
          "--spider",
          "-q",
          "http://localhost:8082/actuator/health",
        ]
      interval: 30s
      timeout: 10s
      retries: 3
      start_period: 10s
    networks:
      - urutare-stock-dev-network
      - urutare-db-network
    volumes:
      - ./secrets/.env.dev.jceks:/app/.env.jceks

  stock-service:
    image: stockm-stock-service:latest
    restart: on-failure:3
    container_name: stock-service-dev
    environment:
      JAVA_OPTS: "-Xms128m -Xmx256m"
    env_file:
      - ./secrets/envs/.env.stock
      - ./secrets/envs/.env.common
    depends_on:
      discovery-server:
        condition: service_healthy
      api-gateway:
        condition: service_healthy
    deploy:
      resources:
        limits:
          memory: 512M
    healthcheck:
      test:
        [
          "CMD",
          "wget",
          "--spider",
          "-q",
          "http://localhost:8084/actuator/health",
        ]
      interval: 30s
      timeout: 10s
      retries: 3
      start_period: 10s
    volumes:
      - ./secrets/.env.dev.jceks:/app/.env.jceks
    networks:
      - urutare-stock-dev-network
      - urutare-db-network
  sync-service:
    image: stockm-sync-service:latest
    restart: on-failure:3
    container_name: sync-service-dev
    environment:
      JAVA_OPTS: "-Xms128m -Xmx256m"
    env_file:
      - ./secrets/envs/.env.sync
      - ./secrets/envs/.env.common
    depends_on:
      discovery-server:
        condition: service_healthy
      api-gateway:
        condition: service_healthy
    deploy:
      resources:
        limits:
          memory: 512M
    healthcheck:
      test:
        [
          "CMD",
          "wget",
          "--spider",
          "-q",
          "http://localhost:8083/actuator/health",
        ]
      interval: 30s
      timeout: 10s
      retries: 3
      start_period: 10s # Allow some time for the server to start
    volumes:
      - ./secrets/.env.dev.jceks:/app/.env.jceks
    networks:
      - urutare-stock-dev-network
      - urutare-db-network
  payment-service:
    image: stockm-payment-service:latest
    container_name: "payment-service-dev"
    restart: on-failure:3
    environment:
      JAVA_OPTS: "-Xms128m -Xmx256m"
    env_file:
      - ./secrets/envs/.env.payment
      - ./secrets/envs/.env.common
    depends_on:
      discovery-server:
        condition: service_healthy
      api-gateway:
        condition: service_healthy
    healthcheck:
      test:
        [
          "CMD",
          "wget",
          "--spider",
          "-q",
          "http://localhost:8085/actuator/health",
        ]
      interval: 30s
      timeout: 10s
      retries: 3
      start_period: 10s # Allow some time for the server to start
    deploy:
      resources:
        limits:
          memory: 512M
    volumes:
      - ./secrets/.env.dev.jceks:/app/.env.jceks
    networks:
      - urutare-stock-dev-network
      - urutare-db-network
  storage-service:
    image: stockm-storage-service:latest
    restart: on-failure:3
    container_name: storage-service-dev
    environment:
      JAVA_OPTS: "-Xms128m -Xmx256m"
    env_file:
      - ./secrets/envs/.env.storage
      - ./secrets/envs/.env.common
    depends_on:
      discovery-server:
        condition: service_healthy
      api-gateway:
        condition: service_healthy
    deploy:
      resources:
        limits:
          memory: 512M
    healthcheck:
      test:
        [
          "CMD",
          "wget",
          "--spider",
          "-q",
          "http://localhost:8086/actuator/health",
        ]
      interval: 30s
      timeout: 10s
      retries: 3
      start_period: 10s
    volumes:
      - ./secrets/.env.dev.jceks:/app/.env.jceks
    networks:
      - urutare-stock-dev-network
      - urutare-db-network
networks:
  urutare-stock-dev-network:
    name: urutare-stock-dev-network
    driver: bridge
    external: false
  urutare-db-network:
    external: true

volumes:
  postgres-data:
    driver: local
    name: postgres-data
