version: '3'
services:
  discovery-server:
    build: ./discovery-service
    restart: always
    ports:
      - "8761:8761"
    environment:
      - EUREKA_INSTANCE_HOSTNAME=localhost
      - EUREKA_CLIENT_REGISTER_WITH_EUREKA=false
      - EUREKA_CLIENT_FETCH_REGISTRY=false
      - EUREKA_CLIENT_SERVICEURL_DEFAULTZONE=http://discovery-server:8761/eureka
      - EUREKA_SERVER_LEASE_RENEWAL_INTERVAL_IN_SECONDS=15
      - EUREKA_SERVER_LEASE_EXPIRATION_DURATION_IN_SECONDS=60
      - SERVER_PORT=8761
      - SPRING_APPLICATION_NAME=discovery-server

  stock-service:
    build: ./stock-service
    restart: on-failure
    ports:
      - "8084:8084"
    environment:
      - SERVER_PORT=8084
      - EUREKA_CLIENT_SERVICEURL_DEFAULTZONE=http://discovery-server:8761/eureka
      - SPRING_APPLICATION_NAME=stock-service
      - SPRING_DATASOURCE_URL=jdbc:postgresql://stock-service-db:5432/stock_service_db
      - SPRING_DATASOURCE_USERNAME=postgres
      - SPRING_DATASOURCE_PASSWORD=admin123!
      - SPRING_JPA_SHOW_SQL=true
      - SPRING_JPA_HIBERNATE_DDL_AUTO=create-drop
      - LOGGING_LEVEL_ORG_HIBERNATE_SQL=debug
      - SPRING_GRAPHQL_GRAPHIQL_ENABLED=true
      - SPRING_GRAPHQL_GRAPHIQL_PATH=/graphiql
    depends_on:
      - discovery-server
      - stock-service-db

  stock-service-db:
    image: postgres
    restart: on-failure
    ports:
      - "5432:5432"
    environment:
      - POSTGRES_DB=stock_service_db
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=admin123!

  user-service:
    build:
      context: ./auth-service
      dockerfile: Dockerfile
    restart: on-failure
    ports:
      - "8081:8081"
    environment:
      - SERVER_PORT=8081
      - EUREKA_CLIENT_SERVICEURL_DEFAULTZONE=http://discovery-server:8761/eureka
      - EUREKA_INSTANCE_PREFER_IP_ADDRESS=true
      - SPRING_APPLICATION_NAME=user-service
      - STOCKM_API_SECRET_KEY=UrutareIncStockM
      - STOCKM_TOKEN_VALIDITY=86400000
      - STOCKM_BASE_URL=http://api-gateway:8080
      - SPRING_DATASOURCE_URL=jdbc:postgresql://user-service-db:5432/stockm_users_service_db
      - SPRING_DATASOURCE_USERNAME=postgres
      - SPRING_DATASOURCE_PASSWORD=admin123!
      - SPRING_JPA_SHOW_SQL=true
      - SPRING_JPA_HIBERNATE_DDL_AUTO=update
      - SPRING_MAIL_HOST=smtp.gmail.com
      - SPRING_MAIL_PORT=587
      - SPRING_MAIL_USERNAME=andelacohot25@gmail.com
      - SPRING_MAIL_PASSWORD=mdibmzpbragmgufd
      - SPRING_MAIL_PROPERTIES_MAIL_SMTP_AUTH=true
      - SPRING_MAIL_PROPERTIES_MAIL_SMTP_STARTTLS_ENABLE=true
      - JWT_SECRET=UrutareIncStockM
      - JWT_ACCESS_TOKEN_EXPIRATIONINMS=86400000
      - JWT_REFRESH_TOKEN_EXPIRATIONINMS=86400000
    depends_on:
      - discovery-server
      - user-service-db

  user-service-db:
    image: postgres
    restart: on-failure
    ports:
      - "5432:5432"
    environment:
      - POSTGRES_DB=stockm_users_service_db
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=admin123!

  category-service:
    build: ./category-service # Replace with the actual image and tag
    ports:
      - "8082:8082"
    restart: on-failure
    environment:
      - SERVER_PORT=8082
      - EUREKA_CLIENT_SERVICEURL_DEFAULTZONE=http://discovery-server:8761/eureka
      - EUREKA_INSTANCE_PREFER_IP_ADDRESS=true
      - SPRING_APPLICATION_NAME=category-service
      - SPRING_DATASOURCE_URL=jdbc:postgresql://category-service-db:5432/stockm_category_service_db
      - SPRING_DATASOURCE_USERNAME=postgres
      - SPRING_DATASOURCE_PASSWORD=admin123!
      - SPRING_JPA_SHOW_SQL=true
      - SPRING_JPA_HIBERNATE_DDL_AUTO=update
      - LOGGING_LEVEL_ORG_HIBERNATE_SQL=debug
      - CLOUDINARY_CLOUD_NAME=http-voicetoworld-netlify-app
      - CLOUDINARY_API_KEY=958152517412848
      - CLOUDINARY_API_SECRET=h2eAzwp1zYxSKXe6lqHka-kopSQ
      - SPRING_SERVLET_MULTIPART_MAX_REQUEST_SIZE=10MB
      - SPRING_SERVLET_MULTIPART_MAX_FILE_SIZE=10MB

  category-service-db:
    image: postgres
    restart: on-failure
    ports:
      - "5432:5432"
    environment:
      - POSTGRES_DB=stockm_category_service_db
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=admin123!

  sync-service:
    build:
      context: ./sync-service
      dockerfile: Dockerfile
    ports:
      - "8083:8083"
    restart: on-failure
    environment:
      - SERVER_PORT=8083
      - EUREKA_CLIENT_SERVICEURL_DEFAULTZONE=http://discovery-server:8761/eureka
      - EUREKA_INSTANCE_PREFER_IP_ADDRESS=true
      - SPRING_APPLICATION_NAME=sync-service
      - SPRING_DATASOURCE_URL=jdbc:postgresql://sync-service-db:5432/sync_service_db
      - SPRING_DATASOURCE_USERNAME=postgres
      - SPRING_DATASOURCE_PASSWORD=admin123!
      - SPRING_JPA_SHOW_SQL=true
      - SPRING_JPA_HIBERNATE_DDL_AUTO=update
      - LOGGING_LEVEL_ORG_HIBERNATE_SQL=debug
      - SPRING_KAFKA_BOOTSTRAP_SERVERS=localhost:9092
    depends_on:
      - discovery-server
      - sync-service-db

  sync-service-db:
    image: postgres
    ports:
      - "5432:5432"
    environment:
      - POSTGRES_DB=sync_service_db
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=admin123!
      