services:
  discovery-server:
    image: stockm-discovery-service:latest
    restart: always
    ports:
      - "9761:8761"
    container_name: stockm-discovery-service-dev
    environment:
      EUREKA_HOSTNAME: discovery-server
      JAVA_OPTS: "-Xms128m -Xmx256m"
    deploy:
      resources:
        limits:
          memory: 512M
    networks:
      - urutare-stock-dev-network
    healthcheck:
      test: ["CMD", "wget", "--spider", "-q", "http://localhost:8761/actuator/health"]
      interval: 30s
      timeout: 5s
      retries: 3
      start_period: 15s
    extra_hosts:
      - "host.docker.internal:host-gateway"

  config-server:
    image: stockm-config-service:latest
    container_name: stockm-config-service-dev
    restart: always
    ports:
      - "9888:8888"
    env_file:
      - ../environments/dev/secrets/envs/.env.config
    environment:
      SPRING_APPLICATION_NAME: config-server
      JAVA_OPTS: "-Xms128m -Xmx256m"
    depends_on:
      discovery-server:
        condition: service_healthy
    networks:
      - urutare-stock-dev-network
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8888/actuator/health"]
      interval: 30s
      timeout: 10s
      retries: 5
      start_period: 15s  # Allow some time for the server to start

  api-gateway:
    image: stockm-gateway-service:latest
    container_name: stockm-gateway-service-dev
    restart: on-failure
    ports:
      - "9080:8080"
    environment:
      - EUREKA_SERVER_URL=http://discovery-server:8761/eureka/
      - JAVA_OPTS= "-Xms128m -Xmx256m"
    env_file:
      - ../environments/dev/secrets/envs/.env.gateway
      - ../environments/dev/secrets/envs/.env.common
    depends_on:
      discovery-server:
        condition: service_healthy
    deploy:
      resources:
        limits:
          memory: 1024M
    volumes:
      - ../environments/dev/secrets/.env.properties:/app/.env.properties
      - ../environments/dev/secrets/.env.dev.jceks:/app/.env.jceks
    networks:
      - urutare-stock-dev-network
    healthcheck:
      test: ["CMD", "wget", "--spider", "-q", "http://localhost:8080/actuator/health"]
      interval: 30s
      timeout: 10s
      retries: 3
      start_period: 15s  # Allow some time for the service to start

  user-service:
    image: stockm-user-service:latest
    restart: on-failure:5
    ports:
      - "9081:8081"
    container_name: stockm-user-service-dev
    environment:
      SERVER_PORT: 8080
      JAVA_OPTS: "-Xms128m -Xmx256m"
    env_file:
      - ../environments/dev/secrets/envs/.env.user
      - ../environments/dev/secrets/envs/.env.common
    depends_on:
      discovery-server:
        condition: service_healthy
    healthcheck:
      test: ["CMD", "wget", "--spider", "-q", "http://localhost:8080/actuator/health"]
      interval: 30s
      timeout: 10s
      retries: 3
      start_period: 10s  # Allow some time for the server to start
    networks:
      - urutare-stock-dev-network
    volumes:
      - ./stockm-config-server/src/main/resources/config:/home/app/config
      - ../environments/dev/secrets/.env.properties:/app/.env.properties
      - ./../../env.dev.jceks:/app/.env.jceks

  category-service:
    image: stockm-category-service:latest
    env_file:
      - ../environments/dev/secrets/envs/.env.category
      - ../environments/dev/secrets/envs/.env.common
    ports:
      - "9082:8082"
    restart: on-failure:5
    container_name: stockm-category-service-dev
    depends_on:
      discovery-server:
        condition: service_healthy
    environment:
      SERVER_PORT: 8080
      JAVA_OPTS: "-Xms128m -Xmx256m"
    deploy:
      resources:
        limits:
          memory: 512M
    healthcheck:
      test: ["CMD", "wget", "--spider", "-q", "http://localhost:8080/actuator/health"]
      interval: 30s
      timeout: 10s
      retries: 3
      start_period: 10s
    networks:
      - urutare-stock-dev-network
    volumes:
      - ./stockm-config-server/src/main/resources/config:/home/app/config
      - ../environments/dev/secrets/.env.properties:/app/.env.properties
      - ./../../env.dev.jceks:/app/.env.jceks

  stock-service:
    image: stockm-stock-service:latest
    restart: on-failure:5
    ports:
      - "9084:8080"
    environment:
      SERVER_PORT: 8080
      JAVA_OPTS: "-Xms128m -Xmx256m"
    container_name: stockm-stock-service-dev
    env_file:
      - ../environments/dev/secrets/envs/.env.stock
      - ../environments/dev/secrets/envs/.env.common
    depends_on:
      discovery-server:
        condition: service_healthy
    deploy:
      resources:
        limits:
          memory: 512M
    healthcheck:
      test: ["CMD", "wget", "--spider", "-q", "http://localhost:8080/actuator/health"]
      interval: 30s
      timeout: 10s
      retries: 3
      start_period: 10s
    volumes:
      - ../environments/dev/secrets/.env.properties:/app/.env.properties
      - ./../../env.dev.jceks:/app/.env.jceks
    networks:
      - urutare-stock-dev-network

  sync-service:
    image: stockm-sync-service:latest
    ports:
      - "9083:8080"
      - "6000:5000"
    restart: on-failure:5
    environment:
      SERVER_PORT: 8080
      JAVA_OPTS: "-Xms128m -Xmx256m"
    container_name: stockm-sync-service-dev
    env_file:
      - ../environments/dev/secrets/envs/.env.sync
      - ../environments/dev/secrets/envs/.env.common
    depends_on:
      discovery-server:
        condition: service_healthy
    deploy:
      resources:
        limits:
          memory: 512M
    healthcheck:
      test: ["CMD", "wget", "--spider", "-q", "http://localhost:8080/actuator/health"]
      interval: 30s
      timeout: 10s
      retries: 3
      start_period: 10s  # Allow some time for the server to start
    volumes:
      - ./../../env.dev.jceks:/app/.env.jceks
      - ../environments/dev/secrets/.env.properties:/app/.env.properties
    networks:
      - urutare-stock-dev-network

  payment-service:
    image: stockm-payment-service:latest
    container_name: stockm-payment-service-dev
    restart: on-failure:5
    ports:
      - "9086:8080"
    environment:
      SERVER_PORT: 8080
      JAVA_OPTS: "-Xms128m -Xmx256m"
    env_file:
      - ../environments/dev/secrets/envs/.env.payment
      - ../environments/dev/secrets/envs/.env.common
    depends_on:
      discovery-server:
        condition: service_healthy
    healthcheck:
      test: ["CMD", "wget", "--spider", "-q", "http://localhost:8080/actuator/health"]
      interval: 30s
      timeout: 10s
      retries: 3
      start_period: 10s  # Allow some time for the server to start
    deploy:
      resources:
        limits:
          memory: 512M
    volumes:
      - ./../../env.dev.jceks:/app/.env.jceks
      - ../environments/dev/secrets/.env.properties:/app/.env.properties
    networks:
      - urutare-stock-dev-network
      - urutare-db-network

networks:
  urutare-stock-dev-network:
    name: urutare-stock-dev-network
    driver: bridge

  urutare-db-network:
    external: true

