services:
  discovery-server-prod:
    image: stockm-discovery-service:latest
    restart: always
    ports:
      - "9761:8761"
    container_name: discovery-server-prod
    environment:
      SPRING_PROFILES_ACTIVE: prod
      EUREKA_HOSTNAME: discovery-server-prod
      JAVA_OPTS: "-Xms128m -Xmx256m"
    deploy:
      resources:
        limits:
          memory: 512M
    networks:
      - urutare-stock-prod-network
    healthcheck:
      test:
        [
          "CMD",
          "wget",
          "--spider",
          "-q",
          "http://localhost:8761/actuator/health",
        ]
      interval: 30s
      timeout: 5s
      retries: 5
      start_period: 15s

  api-gateway-prod:
    image: stockm-gateway-service:latest
    ports:
      - "9080:8080"
    restart: always
    container_name: api-gateway-prod
    environment:
      - EUREKA_SERVER_URL=http://discovery-server-prod:8761/eureka/
      - JAVA_OPTS= "-Xms128m -Xmx256m"
    env_file:
      - ./secrets/envs/.env.gateway
      - ./secrets/envs/.env.common
    depends_on:
      discovery-server-prod:
        condition: service_healthy
    deploy:
      resources:
        limits:
          memory: 1024M
    volumes:
      - ./secrets/.env.prod.jceks:/app/.env.jceks
    networks:
      - urutare-stock-prod-network
      - urutare-db-network
    healthcheck:
      test:
        [
          "CMD",
          "wget",
          "--spider",
          "-q",
          "http://localhost:8080/actuator/health",
        ]
      interval: 30s
      timeout: 10s
      retries: 3

  user-service-prod:
    image: stockm-user-service:latest
    restart: on-failure:3
    privileged: true
    container_name: user-service-prod
    environment:
      JAVA_OPTS: "-Xms128m -Xmx256m"
    env_file:
      - ./secrets/envs/.env.user
      - ./secrets/envs/.env.common
    depends_on:
      discovery-server-prod:
        condition: service_healthy
      api-gateway-prod:
        condition: service_healthy
    networks:
      - urutare-stock-prod-network
      - urutare-db-network
    volumes:
      - ./secrets/.env.prod.jceks:/app/.env.jceks

  category-service-prod:
    image: stockm-category-service:latest
    env_file:
      - ./secrets/envs/.env.category
      - ./secrets/envs/.env.common

    restart: on-failure:3
    container_name: category-service-prod
    depends_on:
      discovery-server-prod:
        condition: service_healthy
      api-gateway-prod:
        condition: service_healthy
    environment:
      JAVA_OPTS: "-Xms128m -Xmx256m"
    deploy:
      resources:
        limits:
          memory: 512M
    networks:
      - urutare-stock-prod-network
      - urutare-db-network
    volumes:
      - ./secrets/.env.prod.jceks:/app/.env.jceks

  stock-service-prod:
    image: stockm-stock-service:latest
    restart: on-failure:3
    container_name: stock-service-prod
    environment:
      JAVA_OPTS: "-Xms128m -Xmx256m"
    env_file:
      - ./secrets/envs/.env.stock
      - ./secrets/envs/.env.common
    depends_on:
      discovery-server-prod:
        condition: service_healthy
      api-gateway-prod:
        condition: service_healthy
    deploy:
      resources:
        limits:
          memory: 512M
    volumes:
      - ./secrets/.env.prod.jceks:/app/.env.jceks
    networks:
      - urutare-stock-prod-network
      - urutare-db-network

  sync-service-prod:
    image: stockm-sync-service:latest
    restart: on-failure:3
    container_name: sync-service-prod
    environment:
      JAVA_OPTS: "-Xms128m -Xmx256m"
    env_file:
      - ./secrets/envs/.env.sync
      - ./secrets/envs/.env.common
    depends_on:
      discovery-server-prod:
        condition: service_healthy
      api-gateway-prod:
        condition: service_healthy
    deploy:
      resources:
        limits:
          memory: 512M
    volumes:
      - ./secrets/.env.prod.jceks:/app/.env.jceks
    networks:
      - urutare-stock-prod-network
      - urutare-db-network

  payment-service-prod:
    image: stockm-payment-service:latest
    container_name: "payment-service-prod"
    restart: on-failure:3
    environment:
      JAVA_OPTS: "-Xms128m -Xmx256m"
    env_file:
      - ./secrets/envs/.env.payment
      - ./secrets/envs/.env.common
    depends_on:
      discovery-server-prod:
        condition: service_healthy
      api-gateway-prod:
        condition: service_healthy
    deploy:
      resources:
        limits:
          memory: 512M
    volumes:
      - ./secrets/.env.prod.jceks:/app/.env.jceks
    networks:
      - urutare-stock-prod-network
      - urutare-db-network

  storage-service-prod:
    image: stockm-storage-service:latest
    restart: on-failure:3
    container_name: storage-service-prod
    environment:
      JAVA_OPTS: "-Xms128m -Xmx256m"
    env_file:
      - ./secrets/envs/.env.storage
      - ./secrets/envs/.env.common
    depends_on:
      discovery-server-prod:
        condition: service_healthy
      api-gateway-prod:
        condition: service_healthy
    deploy:
      resources:
        limits:
          memory: 512M
    volumes:
      - ./secrets/.env.prod.jceks:/app/.env.jceks
    networks:
      - urutare-stock-prod-network
      - urutare-db-network

  sms-gateway:
    restart: on-failure:3
    image: urutare/sms-service
    container_name: sms-gateway
    build:
      context: ./sms-gateway
      dockerfile: Dockerfile
    env_file:
      - ./secrets/envs/.env.sms
      - ./secrets/envs/.env.common
    environment:
      CONFIG_SERVER_URL: http://config-server-prod:8888
      DB_DATABASE: stockm_sms_db_prod
    ports:
      - "8085:8000"
    deploy:
      resources:
        limits:
          cpus: "0.5"
          memory: 512M
    depends_on:
      discovery-server-prod:
        condition: service_healthy
      api-gateway-prod:
        condition: service_healthy
    networks:
      - urutare-stock-prod-network
      - urutare-db-network

networks:
  urutare-stock-prod-network:
    name: urutare-stock-prod-network
    driver: bridge
    external: false
  urutare-db-network:
    external: true
