version: '3'
services:
  discovery-server:
    build: ./discovery-service
    restart: on-failure
    ports:
      - "8761:8761"
    environment:
      - EUREKA_INSTANCE_HOSTNAME=localhost
      - EUREKA_CLIENT_REGISTER_WITH_EUREKA=false
      - EUREKA_CLIENT_FETCH_REGISTRY=false
      - EUREKA_CLIENT_SERVICEURL_DEFAULTZONE=http://discovery-server:8761/eureka
      - EUREKA_SERVER_LEASE_RENEWAL_INTERVAL_IN_SECONDS=15
      - EUREKA_SERVER_LEASE_EXPIRATION_DURATION_IN_SECONDS=60
      - SERVER_PORT=8761
      - SPRING_APPLICATION_NAME=discovery-server
  
  api-gateway:
    build:
      context: ./api-gateway
      dockerfile: Dockerfile
    ports:
      - "8080:8080"
    restart: on-failure
    environment:
      - SERVER_PORT=8080
      - EUREKA_CLIENT_SERVICEURL_DEFAULTZONE=http://discovery-server:8761/eureka
      - SPRING_APPLICATION_NAME=api-gateway
      - LOGGING_LEVEL_ROOT=INFO
      - LOGGING_LEVEL_ORG_SPRINGFRAMEWORK_CLOUD_GATEWAY_ROUTE_ROUTEDEFINITIONROUTELOCATOR=INFO
      - LOGGING_LEVEL_ORG_SPRINGFRAMEWORK_CLOUD_GATEWAY=TRACE
      - SPRING_CLOUD_GATEWAY_ROUTES_0_ID=user-service
      - SPRING_CLOUD_GATEWAY_ROUTES_0_URI=lb://user-service
      - SPRING_CLOUD_GATEWAY_ROUTES_0_PREDICATES_0=Path=/api/v1/user-service/**
      - SPRING_CLOUD_GATEWAY_ROUTES_0_FILTERS_0=AuthenticationFilter
      - SPRING_CLOUD_GATEWAY_ROUTES_1_ID=category-service
      - SPRING_CLOUD_GATEWAY_ROUTES_1_URI=lb://category-service
      - SPRING_CLOUD_GATEWAY_ROUTES_1_PREDICATES_0=Path=/api/v1/category-service/**
      - SPRING_CLOUD_GATEWAY_ROUTES_1_FILTERS_0=AuthenticationFilter
      - SPRING_CLOUD_GATEWAY_ROUTES_2_ID=discovery-server
      - SPRING_CLOUD_GATEWAY_ROUTES_2_URI=http://discovery-server:8761
      - SPRING_CLOUD_GATEWAY_ROUTES_2_PREDICATES_0=Path=/eureka/web
      - SPRING_CLOUD_GATEWAY_ROUTES_2_FILTERS_0=SetPath=/
      - SPRING_CLOUD_GATEWAY_ROUTES_3_ID=discovery-server-static
      - SPRING_CLOUD_GATEWAY_ROUTES_3_URI=http://discovery-server:8761
      - SPRING_CLOUD_GATEWAY_ROUTES_3_PREDICATES_0=Path=/eureka/**
      - SPRING_CLOUD_GATEWAY_ROUTES_4_ID=stock-service
      - SPRING_CLOUD_GATEWAY_ROUTES_4_URI=lb://stock-service
      - SPRING_CLOUD_GATEWAY_ROUTES_4_PREDICATES_0=Path=/api/v1/stock-service/**,/graphql
      - SPRING_CLOUD_GATEWAY_ROUTES_4_FILTERS_0=AuthenticationFilter
      - SPRING_CLOUD_GATEWAY_ROUTES_5_ID=sync-service
      - SPRING_CLOUD_GATEWAY_ROUTES_5_URI=lb://sync-service
      - SPRING_CLOUD_GATEWAY_ROUTES_5_PREDICATES_0=Path=/api/v1/sync-service/**
      - SPRING_CLOUD_GATEWAY_ROUTES_5_FILTERS_0=AuthenticationFilter
      - JWT_SECRET=UrutareIncStockM
    depends_on:
      - discovery-server