version: '3.8'
services:
 # Eureka Server
  api-gateway:
    # build: ./api-gateway
    image: springcloud/eureka
    ports:
      - 8080:8080
    environment:
      - SERVER_PORT=8080
      - EUREKA_CLIENT_SERVICEURL_DEFAULTZONE=http://discovery-service:8761/eureka
      - SPRING_CLOUD_GATEWAY_ROUTES_2_ID=discovery-server
      - SPRING_CLOUD_GATEWAY_ROUTES_2_URI=http://discovery-service:8761
      - SPRING_CLOUD_GATEWAY_ROUTES_2_PREDICATES_0=Path=/eureka/web
      - SPRING_CLOUD_GATEWAY_ROUTES_2_FILTERS_0=SetPath=/
      - SPRING_CLOUD_GATEWAY_ROUTES_3_ID=discovery-server-static
      - SPRING_CLOUD_GATEWAY_ROUTES_3_URI=http://discovery-service:8761
      - SPRING_CLOUD_GATEWAY_ROUTES_3_PREDICATES_0=Path=/eureka/**

    depends_on:
      - discovery-service
    networks:
      - app-network

  discovery-service:
    build: ./discovery-service
    environment:
      - EUREKA_INSTANCE_HOSTNAME=localhost
      - EUREKA_CLIENT_REGISTER_WITH_EUREKA=false
      - EUREKA_CLIENT_FETCH_REGISTRY=false
      - EUREKA_CLIENT_SERVICEURL_DEFAULTZONE=http://discovery-service:8761/eureka
      - SERVER_PORT=8761
      - SPRING_APPLICATION_NAME=discovery-server
    ports:
      - 8761:8761
    networks:
      - app-network

  auth-service:
    build: ./auth-service
    ports:
      - 8081:8081
    environment:
      - SERVER_PORT=8081
      - EUREKA_CLIENT_SERVICEURL_DEFAULTZONE=http://discovery-service:8761/eureka
      - EUREKA_INSTANCE_PREFER_IP_ADDRESS=true
      - SPRING_APPLICATION_NAME=user-service
      - STOCKM_API_SECRET_KEY=UrutareIncStockM
      - STOCKM_TOKEN_VALIDITY=86400000
      - STOCKM_BASE_URL=http://api-gateway:8080
      - SPRING_DATASOURCE_URL=jdbc:postgresql://postgres:5432/stockm_users_service_db
      - SPRING_DATASOURCE_USERNAME=postgres
      - SPRING_DATASOURCE_PASSWORD=Hirwa@100
      - SPRING_JPA_SHOW_SQL=true
      - SPRING_JPA_HIBERNATE_DDL_AUTO=update
      - SPRING_MAIL_HOST=smtp.gmail.com
      - SPRING_MAIL_PORT=587
      - SPRING_MAIL_USERNAME=andelacohot25@gmail.com
      - SPRING_MAIL_PASSWORD=mdibmzpbragmgufd
      - SPRING_MAIL_PROPERTIES_MAIL_SMTP_AUTH=true
      - SPRING_MAIL_PROPERTIES_MAIL_SMTP_STARTTLS_ENABLE=true
      - JWT_SECRET=UrutareIncStockM
      - JWT_ACCESS_TOKEN_EXPIRATIONINMS=86400000
      - JWT_REFRESH_TOKEN_EXPIRATIONINMS=86400000
    depends_on:
      - discovery-service
      - auth-db
    networks:
      - app-network

  auth-db:
    image: postgres
    environment:
      - POSTGRES_DB=stockm_users_service_db
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=Hirwa@100
    volumes:
      - ./auth-db-data:/var/lib/postgresql/data
    networks:
      - app-network

  category-service:
    build: ./category-service
    environment:
      - SERVER_PORT=8082
      - EUREKA_CLIENT_SERVICEURL_DEFAULTZONE=http://discovery-service:8761/eureka
      - EUREKA_INSTANCE_PREFER_IP_ADDRESS=true
      - SPRING_APPLICATION_NAME=category-service
      - SPRING_DATASOURCE_URL=jdbc:postgresql://postgres:5432/stockm_category_service_db
      - SPRING_DATASOURCE_USERNAME=postgres
      - SPRING_DATASOURCE_PASSWORD=Hirwa@100
      - SPRING_JPA_SHOW_SQL=true
      - SPRING_JPA_HIBERNATE_DDL_AUTO=update
      - LOGGING_LEVEL_ORG_HIBERNATE_SQL=debug
      - JWT_SECRET=UrutareIncStockM
    depends_on:
      - discovery-service
      - category-db
    networks:
      - app-network

  category-db:
    image: postgres
    environment:
      - POSTGRES_DB=stockm_category_service_db
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=Hirwa@100
    volumes:
      - ./category-db-data:/var/lib/postgresql/data
    networks:
      - app-network
  
  stock-service:
    build: ./stock-service
    environment:
    - SERVER_PORT=8083
    - EUREKA_CLIENT_SERVICEURL_DEFAULTZONE=http://discovery-service:8761/eureka
    - SPRING_APPLICATION_NAME=stock-service
    - SPRING_DATASOURCE_URL=jdbc:postgresql://postgres:5432/stock_service_db
    - SPRING_DATASOURCE_USERNAME=postgres
    - SPRING_DATASOURCE_PASSWORD=postgres
    - SPRING_JPA_SHOW_SQL=true
    - SPRING_JPA_HIBERNATE_DDL_AUTO=create-drop
    - LOGGING_LEVEL_ORG_HIBERNATE_SQL=debug
    - JWT_SECRET=UrutareIncStockM
    depends_on:
      - discovery-service
    networks:
      - app-network

networks:
  app-network:
    driver: bridge