version: '3.8'

services:
  discovery-server:
    build: ./stockm-discovery-service
    restart: always
    ports:
      - "8761:8761"
    container_name: discovery-server
    environment:
      - EUREKA_INSTANCE_HOSTNAME=discovery-server
      - EUREKA_CLIENT_REGISTER_WITH_EUREKA=false
      - EUREKA_CLIENT_FETCH_REGISTRY=false
      - EUREKA_CLIENT_SERVICEURL_DEFAULTZONE=http://discovery-server:8761/eureka
      - EUREKA_SERVER_LEASE_RENEWAL_INTERVAL_IN_SECONDS=15
      - EUREKA_SERVER_LEASE_EXPIRATION_DURATION_IN_SECONDS=60
      - SERVER_PORT=8761
      - SPRING_APPLICATION_NAME=discovery-server
    networks:
      - urutare-inc-network

  api-gateway:
    build:
      context: ./stockm-api-gateway
      dockerfile: Dockerfile
    ports:
      - "8080:8080"
    restart: on-failure
    container_name: api-gateway
    environment:
      - SERVER_PORT=8080
      - JWT_SECRET=UrutareIncStockM
      - EUREKA_CLIENT_SERVICEURL_DEFAULTZONE=http://discovery-server:8761/eureka
      - SPRING_APPLICATION_NAME=api-gateway
      - LOGGING_LEVEL_ROOT=INFO
      - LOGGING_LEVEL_ORG_SPRINGFRAMEWORK_CLOUD_GATEWAY_ROUTE_ROUTEDEFINITIONROUTELOCATOR=INFO
      - LOGGING_LEVEL_ORG_SPRINGFRAMEWORK_CLOUD_GATEWAY=TRACE
      - SPRING_CLOUD_GATEWAY_ROUTES_0_ID=user-service
      - SPRING_CLOUD_GATEWAY_ROUTES_0_URI=lb://user-service
      - SPRING_CLOUD_GATEWAY_ROUTES_0_PREDICATES_0=Path=/api/v1/user-service/**
      - SPRING_CLOUD_GATEWAY_ROUTES_1_ID=category-service
      - SPRING_CLOUD_GATEWAY_ROUTES_1_URI=lb://category-service
      - SPRING_CLOUD_GATEWAY_ROUTES_1_PREDICATES_0=Path=/api/v1/category-service/**
      - SPRING_CLOUD_GATEWAY_ROUTES_2_ID=discovery-server
      - SPRING_CLOUD_GATEWAY_ROUTES_2_URI=http://discovery-server:8761
      - SPRING_CLOUD_GATEWAY_ROUTES_2_PREDICATES_0=Path=/eureka/web
      - SPRING_CLOUD_GATEWAY_ROUTES_2_FILTERS_0=SetPath=/
      - SPRING_CLOUD_GATEWAY_ROUTES_3_ID=discovery-server-static
      - SPRING_CLOUD_GATEWAY_ROUTES_3_URI=http://discovery-server:8761
      - SPRING_CLOUD_GATEWAY_ROUTES_3_PREDICATES_0=Path=/eureka/**
      - SPRING_CLOUD_GATEWAY_ROUTES_4_ID=stock-service
      - SPRING_CLOUD_GATEWAY_ROUTES_4_URI=lb://stock-service
      - SPRING_CLOUD_GATEWAY_ROUTES_4_PREDICATES_0=Path=/api/v1/stock-service/**,/graphql
      - SPRING_CLOUD_GATEWAY_ROUTES_5_ID=sync-service
      - SPRING_CLOUD_GATEWAY_ROUTES_5_URI=lb://sync-service
      - SPRING_CLOUD_GATEWAY_ROUTES_5_PREDICATES_0=Path=/api/v1/sync-service/**
      - SPRING_CLOUD_GATEWAY_ROUTES_5_FILTERS_0=AuthenticationFilter
      - SPRING_CLOUD_GATEWAY_ROUTES_6_ID=payment-service
      - SPRING_CLOUD_GATEWAY_ROUTES_6_URI=lb://payment-service
      - SPRING_CLOUD_GATEWAY_ROUTES_6_PREDICATES_0=Path=/api/v1/payment-service/**
    depends_on:
      - discovery-server
#      - stock-service
#      - user-service
#      - category-service
#      - sync-service
#      - payment-service
    networks:
      - urutare-inc-network

  postgres-db:
    image: postgres
    container_name: postgres-db
    restart: always
    ports:
      - "5435:5432"
    environment:
      - POSTGRES_DB=kong
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=admin123!
    command: [ "postgres", "-c", "max_connections=200", "-c", "timezone=Etc/UTC", "-c", "default_text_search_config=pg_catalog.english" ]
    volumes:
      - postgres-data:/var/lib/postgresql/data
      - ./db-init:/docker-entrypoint-initdb.d
    networks:
      - urutare-inc-network

  redis_cache:
    container_name: redis
    image: 'bitnami/redis:latest'
    restart: always
    environment:
      - ALLOW_EMPTY_PASSWORD=yes
    ports:
      - "7379:6379"
    networks:
      - urutare-inc-network

  zookeeper-server:
    image: 'bitnami/zookeeper:latest'
    container_name: "zookeeper-server"
    ports:
      - '2181:2181'
    environment:
      - ALLOW_ANONYMOUS_LOGIN=yes
    networks:
      - kafka-network

  kafka-broker:
    image: 'bitnami/kafka:3.2.0'
    container_name: kafka
    restart: "always"
    ports:
      - '9092:9092'
      - '9093:9093'
      - '29092:29092'
    environment:
      - KAFKA_CFG_LISTENER_SECURITY_PROTOCOL_MAP=INTERNAL:PLAINTEXT,EXTERNAL_SAME:PLAINTEXT,EXTERNAL_DIFF:PLAINTEXT
      - KAFKA_CFG_LISTENERS=INTERNAL://:29092,EXTERNAL_SAME://:9092,EXTERNAL_DIFF://:9093
      - KAFKA_CFG_ADVERTISED_LISTENERS=INTERNAL://172.17.0.1:29092,EXTERNAL_SAME://172.17.0.1:9092,EXTERNAL_DIFF://172.17.0.1:9093
      - KAFKA_CFG_ZOOKEEPER_CONNECT=zookeeper:2181
      - KAFKA_INTER_BROKER_LISTENER_NAME=INTERNAL
      - ALLOW_PLAINTEXT_LISTENER=yes
    depends_on:
      - zookeeper-server
    networks:
      - kafka-network

  kafdrop-web:
    image: obsidiandynamics/kafdrop
    container_name: "kafdrop-web"
    ports:
      - '9000:9000'
    environment:
      - KAFKA_BROKERCONNECT=kafka-broker:29092
      - EUREKA_CLIENT_SERVICEURL_DEFAULTZONE=http://localhost:8761/eureka
      - JVM_OPTS="-Xms16M -Xmx48M -Xss180K -XX:-TieredCompilation -XX:+UseStringDeduplication -noverify"

    depends_on:
      - kafka-broker
    networks:
      - kafka-network

  stock-service:
    build: ./stockm-stock-service
    restart: on-failure
    ports:
      - "8084:8084"
    container_name: stock-service
    deploy:
      resources:
        limits:
          cpus: '0.5'
          memory: 512M
        reservations:
          memory: 150M
    env_file:
      - .env
    environment:
      - SERVER_PORT=8084
      - EUREKA_CLIENT_SERVICEURL_DEFAULTZONE=http://discovery-server:8761/eureka
      - SPRING_APPLICATION_NAME=stock-service
      - SPRING_DATASOURCE_URL=jdbc:postgresql://postgres-db:5432/stock_db
      - SPRING_DATASOURCE_USERNAME=postgres
      - SPRING_DATASOURCE_PASSWORD=admin123!
      - SPRING_JPA_SHOW_SQL=true
      - SPRING_JPA_HIBERNATE_DDL_AUTO=create-drop
      - LOGGING_LEVEL_ORG_HIBERNATE_SQL=debug
      - SPRING_GRAPHQL_GRAPHIQL_ENABLED=true
      - SPRING_GRAPHQL_GRAPHIQL_PATH=/graphiql
    depends_on:
      - discovery-server
      - postgres-db
    networks:
      - urutare-inc-network
      - kafka-network

  user-service:
    build:
      context: ./stockm-auth-service
      dockerfile: Dockerfile
    restart: on-failure
    ports:
      - "8081:8081"
    container_name: user-service
#    deploy:
#      resources:
#        limits:
#          cpus: '0.5'
#          memory: 512M
#        reservations:
#          memory: 150M
    env_file:
      - .env
    environment:
      - SERVER_PORT=8081
      - EUREKA_CLIENT_SERVICEURL_DEFAULTZONE=http://discovery-server:8761/eureka
      - EUREKA_INSTANCE_PREFER_IP_ADDRESS=true
      - SPRING_APPLICATION_NAME=user-service
      - STOCKM_API_SECRET_KEY=UrutareIncStockM
      - STOCKM_TOKEN_VALIDITY=86400000
      - STOCKM_BASE_URL=http://api-gateway:8080
      - SPRING_DATASOURCE_URL=jdbc:postgresql://postgres-db:5432/user_db
      - SPRING_DATASOURCE_USERNAME=postgres
      - SPRING_DATASOURCE_PASSWORD=admin123!
      - SPRING_JPA_SHOW_SQL=true
      - SPRING_JPA_HIBERNATE_DDL_AUTO=update
      - SPRING_MAIL_HOST=smtp.gmail.com
      - SPRING_MAIL_PORT=587
      - SPRING_MAIL_USERNAME=andelacohot25@gmail.com
      - SPRING_MAIL_PASSWORD=mdibmzpbragmgufd
      - SPRING_MAIL_PROPERTIES_MAIL_SMTP_AUTH=true
      - SPRING_MAIL_PROPERTIES_MAIL_SMTP_STARTTLS_ENABLE=true
      - JWT_SECRET=UrutareIncStockM
      - JWT_ACCESS_TOKEN_EXPIRATIONINMS=86400000
      - JWT_REFRESH_TOKEN_EXPIRATIONINMS=86400000
      - KAFKA_BROKER_URL=${KAFKA_BROKER_URL}
      - KAFKA_GROUP_ID_PARKING_MANAGER=${KAFKA_GROUP_ID_PARKING_MANAGER}
      - KAFKA_TOPIC_PARTITION=${KAFKA_TOPIC_PARTITION}
      - KAFKA_TOPIC_REPLICATION_FACTOR=${KAFKA_TOPIC_REPLICATION_FACTOR}
      - SMS_API_URL=sms-gateway:8085
      - SMS_USERNAME=asdasdas
      - SMS_SECRET=kdmpowlcos
    depends_on:
      - discovery-server
      - postgres-db
      - kafka-broker
    networks:
      - urutare-inc-network
      - kafka-network

  category-service:
    build:
      context: ./stockm-category-service
      dockerfile: Dockerfile
    ports:
      - "8082:8082"
    restart: on-failure
    container_name: category-service
    deploy:
      resources:
        limits:
          cpus: '0.5'
          memory: 512M
        reservations:
          memory: 150M
    env_file:
      - .env
    environment:
      - SERVER_PORT=8082
      - EUREKA_CLIENT_SERVICEURL_DEFAULTZONE=http://discovery-server:8761/eureka
      - EUREKA_INSTANCE_PREFER_IP_ADDRESS=true
      - SPRING_APPLICATION_NAME=category-service
      - SPRING_DATASOURCE_URL=jdbc:postgresql://postgres-db:5432/category_db
      - SPRING_DATASOURCE_USERNAME=postgres
      - SPRING_DATASOURCE_PASSWORD=admin123!
      - SPRING_JPA_SHOW_SQL=true
      - SPRING_JPA_HIBERNATE_DDL_AUTO=update
      - LOGGING_LEVEL_ORG_HIBERNATE_SQL=debug
      - CLOUDINARY_CLOUD_NAME=http-voicetoworld-netlify-app
      - CLOUDINARY_API_KEY=958152517412848
      - CLOUDINARY_API_SECRET=h2eAzwp1zYxSKXe6lqHka-kopSQ
      - SPRING_SERVLET_MULTIPART_MAX_REQUEST_SIZE=10MB
      - SPRING_SERVLET_MULTIPART_MAX_FILE_SIZE=10MB
    depends_on:
      - discovery-server
      - postgres-db
    networks:
      - urutare-inc-network
      - kafka-network

  sync-service:
    build:
      context: ./stockm-sync-service
      dockerfile: Dockerfile
    ports:
      - "8083:8083"
    restart: on-failure
    container_name: sync-service
    deploy:
      resources:
        limits:
          cpus: '0.5'
          memory: 512M
        reservations:
          memory: 150M
    env_file:
      - .env
    environment:
      - SERVER_PORT=8083
      - EUREKA_CLIENT_SERVICEURL_DEFAULTZONE=http://discovery-server:8761/eureka
      - EUREKA_INSTANCE_PREFER_IP_ADDRESS=true
      - SPRING_APPLICATION_NAME=sync-service
      - SPRING_DATASOURCE_URL=jdbc:postgresql://postgres-db:5432/sync_db
      - SPRING_DATASOURCE_USERNAME=postgres
      - SPRING_DATASOURCE_PASSWORD=admin123!
      - SPRING_JPA_SHOW_SQL=true
      - SPRING_JPA_HIBERNATE_DDL_AUTO=update
      - LOGGING_LEVEL_ORG_HIBERNATE_SQL=debug
      - SPRING_KAFKA_BOOTSTRAP_SERVERS=kafka:9092
    depends_on:
      - discovery-server
      - postgres-db
      - kafka-broker
    networks:
      - urutare-inc-network
      - kafka-network

  payment-service:
    image: 'thunderzeye/payment-service:latest'
    build:
      context: ./stockm-payment-service
      dockerfile: Dockerfile
    container_name: "payment-service"
    restart: on-failure
    deploy:
      resources:
        limits:
          cpus: '0.5'
          memory: 512M
        reservations:
          memory: 150M
    ports:
      - "8089:8089"
    env_file: .env
    environment:
      - SERVER_PORT=8089
      - COMPONENT_ID=4
      - SPRING_MAIN_ALLOW_CIRCULAR_REFERENCES=true
      - HIBERNATE_ENABLE_LAZY_LOAD_NO_TRANS=true
      - REDIS_HOST=${REDIS_HOST}
      - REDIS_PORT=${REDIS_PORT}
      - KAFKA_BROKER_URL=${KAFKA_BROKER_URL}
      - KAFKA_GROUP_ID_PARKING_MANAGER=${KAFKA_GROUP_ID_PARKING_MANAGER}
      - KAFKA_TOPIC_PARTITION=${KAFKA_TOPIC_PARTITION}
      - KAFKA_TOPIC_REPLICATION_FACTOR=${KAFKA_TOPIC_REPLICATION_FACTOR}
      - DB_HOSTNAME=${DB_HOSTNAME}
      - DB_PORT=${DB_PORT}
      - DB_DATABASE=payment_db
      - DB_USER=${DB_USER}
      - DB_PASS=${DB_PASS}
      - EUREKA_CLIENT_SERVICEURL_DEFAULTZONE=http://discovery-server:8761/eureka
      - EUREKA_INSTANCE_PREFER_IP_ADDRESS=true
      - SPRING_APPLICATION_NAME=payment-service
      - MTN_API_URL=${MTN_MOMO_API}
      - MTN_API_USER=${MTN_API_USER}
      - MTN_API_KEY=${MTN_API_KEY}
      - MTN_PRIMARY_KEY=${MTN_PRIMARY_KEY}
      - MTN_TARGET_ENV=${MTN_TARGET_ENV}
      - MTN_CALLBACK_URL=${MTN_CALLBACK_URL}

    depends_on:
      - discovery-server
      - postgres-db
      - user-service
      - kafka-broker
    networks:
      - urutare-inc-network
      - kafka-network

  stockm-sms-gateway:
    build:
      context: ./sms-gateway
      dockerfile: ./docker/Dockerfile
    restart: on-failure
    image: sms-service-prod
    container_name: sms-gateway
    env_file:
      - .env
    ports:
      - "8085:8000"
    deploy:
      resources:
        limits:
          cpus: '0.5'
          memory: 512M
        reservations:
          memory: 150M
    environment:
      - LOCAL_PORT=8000
      - EUREKA_INSTANCE_PREFER_IP_ADDRESS=true
      - GATEWAY_BASE_URL=http://api-gateway:8080
      - DATABASE_URL=postgresql+asyncpg://postgres:admin123!@postgres-db:5432/sms_db
      - EUREKA_SERVER_URL=http://discovery-server:8761/eureka
      - APP_NAME=sms-service
      - INSTANCE_HOST=localhost
    depends_on:
      - discovery-server
      - postgres-db
    networks:
      - urutare-inc-network
      - kafka-network

  nginx:
    image: nginx:latest
    container_name: "nginx"
    restart: on-failure
    ports:
      - "80:80"
      - "81:80"
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf
    depends_on:
      - api-gateway
    networks:
      - urutare-inc-network

  grafana:
    image: grafana/grafana:latest
    container_name: grafana
    restart: always
    ports:
      - "3000:3000"
    environment:
      - GF_SECURITY_ADMIN_USER=admin
      - GF_SECURITY_ADMIN_PASSWORD=admin
    volumes:
      - grafana-data:/var/lib/grafana
    networks:
      - urutare-inc-network

  prometheus:
    image: prom/prometheus:latest
    container_name: prometheus
    restart: always
    ports:
      - "9090:9090"
    volumes:
      - ./prometheus.yml:/etc/prometheus/prometheus.yml
      - prometheus-data:/prometheus
    networks:
      - urutare-inc-network

networks:
  urutare-inc-network:
    driver: bridge
  kafka-network:
    driver: bridge

volumes:
  postgres-data:
  kafka-data:
  grafana-data:
  prometheus-data: