version: '3.8'

services:
  discovery-server:
    image: urutare/service-discovery
    build:
      context: ./stockm-discovery-service
      dockerfile: Dockerfile
    restart: always
    ports:
      - "8761:8761"
    container_name: discovery-server
    environment:
      - EUREKA_INSTANCE_HOSTNAME=discovery-server
      - EUREKA_CLIENT_REGISTER_WITH_EUREKA=false
      - EUREKA_CLIENT_FETCH_REGISTRY=false
      - EUREKA_CLIENT_SERVICEURL_DEFAULTZONE=http://discovery-server:8761/eureka
      - EUREKA_SERVER_LEASE_RENEWAL_INTERVAL_IN_SECONDS=15
      - EUREKA_SERVER_LEASE_EXPIRATION_DURATION_IN_SECONDS=60
      - SERVER_PORT=8761
      - SPRING_APPLICATION_NAME=discovery-server
    networks:
      - urutare-inc-network

  api-gateway:
    build:
      context: ./stockm-api-gateway
      dockerfile: Dockerfile
    ports:
      - "8080:8080"
    restart: on-failure
    container_name: api-gateway
    environment:
      - SERVER_PORT=8080
      - JWT_SECRET=UrutareIncStockM
      - EUREKA_CLIENT_SERVICEURL_DEFAULTZONE=http://discovery-server:8761/eureka
      - SPRING_APPLICATION_NAME=api-gateway
      - LOGGING_LEVEL_ROOT=INFO
      - LOGGING_LEVEL_ORG_SPRINGFRAMEWORK_CLOUD_GATEWAY_ROUTE_ROUTEDEFINITIONROUTELOCATOR=INFO
      - LOGGING_LEVEL_ORG_SPRINGFRAMEWORK_CLOUD_GATEWAY=TRACE
      # - SPRING_CLOUD_GATEWAY_ROUTES_0_ID=user-service
      # - SPRING_CLOUD_GATEWAY_ROUTES_0_URI=lb://user-service
      # - SPRING_CLOUD_GATEWAY_ROUTES_0_PREDICATES_0=Path=/api/v1/user-service/**
      # - SPRING_CLOUD_GATEWAY_ROUTES_1_ID=category-service
      # - SPRING_CLOUD_GATEWAY_ROUTES_1_URI=lb://category-service
      # - SPRING_CLOUD_GATEWAY_ROUTES_1_PREDICATES_0=Path=/api/v1/category-service/**
      # - SPRING_CLOUD_GATEWAY_ROUTES_2_ID=discovery-server
      - SPRING_CLOUD_GATEWAY_ROUTES_2_URI=http://discovery-server:8761
      # - SPRING_CLOUD_GATEWAY_ROUTES_2_PREDICATES_0=Path=/eureka/web
      # - SPRING_CLOUD_GATEWAY_ROUTES_2_FILTERS_0=SetPath=/
      # - SPRING_CLOUD_GATEWAY_ROUTES_3_ID=discovery-server-static
      - SPRING_CLOUD_GATEWAY_ROUTES_3_URI=http://discovery-server:8761
      # - SPRING_CLOUD_GATEWAY_ROUTES_3_PREDICATES_0=Path=/eureka/**
      # - SPRING_CLOUD_GATEWAY_ROUTES_4_ID=stock-service
      # - SPRING_CLOUD_GATEWAY_ROUTES_4_URI=lb://stock-service
      # - SPRING_CLOUD_GATEWAY_ROUTES_4_PREDICATES_0=Path=/api/v1/stock-service/**,/graphql
      # - SPRING_CLOUD_GATEWAY_ROUTES_5_ID=sync-service
      # - SPRING_CLOUD_GATEWAY_ROUTES_5_URI=lb://sync-service
      # - SPRING_CLOUD_GATEWAY_ROUTES_5_PREDICATES_0=Path=/api/v1/sync-service/**
      # - SPRING_CLOUD_GATEWAY_ROUTES_5_FILTERS_0=AuthenticationFilter
      # - SPRING_CLOUD_GATEWAY_ROUTES_6_ID=payment-service
      # - SPRING_CLOUD_GATEWAY_ROUTES_6_URI=lb://payment-service
      # - SPRING_CLOUD_GATEWAY_ROUTES_6_PREDICATES_0=Path=/api/v1/payment-service/**
      # - SPRING_CLOUD_GATEWAY_ROUTES_6_FILTERS_0=AuthenticationFilter
    depends_on:
      - discovery-server
      - stock-service
      - user-service
      - category-service
      - sync-service
      - payment-service
    networks:
      - urutare-inc-network

  # Add Elasticsearch service
  elasticsearch:
    image: docker.elastic.co/elasticsearch/elasticsearch:7.10.1
    container_name: elasticsearch
    environment:
      - discovery.type=single-node
      - bootstrap.memory_lock=true
      - "ES_JAVA_OPTS=-Xms512m -Xmx512m"
    ulimits:
      memlock:
        soft: -1
        hard: -1
    ports:
      - "9200:9200"
      - "9300:9300"
    networks:
      - urutare-inc-network

  # Add Kibana service
  kibana:
    image: docker.elastic.co/kibana/kibana:7.10.1
    container_name: kibana
    ports:
      - "5601:5601"
    environment:
      ELASTICSEARCH_HOSTS: "http://elasticsearch:9200"
    depends_on:
      - elasticsearch
    networks:
      - urutare-inc-network

  postgres-db:
    image: postgres
    container_name: postgres-db
    restart: always
    ports:
      - "5435:5432"
    environment:
      - POSTGRES_DB=kong
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=admin123!
    command: [ "postgres", "-c", "max_connections=200", "-c", "timezone=Etc/UTC", "-c", "default_text_search_config=pg_catalog.english" ]
    volumes:
      - postgres-data:/var/lib/postgresql/data
      - ./db-init:/docker-entrypoint-initdb.d
    networks:
      - urutare-inc-network

  redis_cache:
    container_name: redis
    image: 'bitnami/redis:latest'
    restart: always
    environment:
      - ALLOW_EMPTY_PASSWORD=yes
    ports:
      - "7379:6379"
    networks:
      - urutare-inc-network

  zookeeper-server:
    image: 'bitnami/zookeeper:latest'
    container_name: "zookeeper-server"
    ports:
      - '2181:2181'
    environment:
      - ALLOW_ANONYMOUS_LOGIN=yes
    networks:
      - kafka-network

  kafka-broker:
    image: 'bitnami/kafka:latest'
    container_name: "kafka-broker"
    ports:
      - '19092:9092'
      - '9093:9093'
      - '29092:29092'
    environment:
      - KAFKA_CFG_ZOOKEEPER_CONNECT=zookeeper-server:2181
      - KAFKA_CFG_ADVERTISED_LISTENERS=INSIDE://kafka-broker:9092,OUTSIDE://localhost:29092
      - KAFKA_CFG_LISTENER_SECURITY_PROTOCOL_MAP=INSIDE:PLAINTEXT,OUTSIDE:PLAINTEXT
      - KAFKA_CFG_LISTENERS=INSIDE://:9092,OUTSIDE://:29092
      - KAFKA_CFG_INTER_BROKER_LISTENER_NAME=INSIDE
      - KAFKA_CFG_BROKER_ID=1
      - ALLOW_PLAINTEXT_LISTENER=yes
    depends_on:
      - zookeeper-server
    networks:
      - kafka-network

  kafdrop:
    image: obsidiandynamics/kafdrop
    container_name: kafdrop
    ports:
      - '9000:9000'
    environment:
      KAFKA_BROKERCONNECT: kafka-broker:9092
      EUREKA_CLIENT_SERVICEURL_DEFAULTZONE: http://localhost:8761/eureka
      JVM_OPTS: "-Xms32M -Xmx64M"
      SERVER_SERVLET_CONTEXTPATH: "/"
    depends_on:
      - kafka-broker
    networks:
      - kafka-network
      - urutare-inc-network

  user-service:
    image: urutare/user-service
    build:
      context: ./stockm-auth-service
      dockerfile: Dockerfile
    restart: on-failure
    ports:
      - "8081:8081"
    container_name: user-service
    env_file:
      - .env
    environment:
      - SERVER_PORT=8081
      - DB_DATABASE=user_db
      - EUREKA_CLIENT_SERVICEURL_DEFAULTZONE=http://discovery-server:8761/eureka
      - SPRING_APPLICATION_NAME=user-service
#    deploy:
#      resources:
#        limits:
#          memory: 512M
    depends_on:
      - discovery-server
      - postgres-db
      - kafka-broker
    networks:
      - urutare-inc-network
      - kafka-network

  category-service:
    image: urutare/category-service
    build:
      context: ./stockm-category-service
      dockerfile: Dockerfile
    ports:
      - "8082:8082"
    restart: on-failure
    container_name: category-service
#    deploy:
#      resources:
#        limits:
#          cpus: '0.5'
#          memory: 512M
    env_file:
      - .env
    environment:
      - SERVER_PORT=8082
      - EUREKA_CLIENT_SERVICEURL_DEFAULTZONE=http://discovery-server:8761/eureka
      - SPRING_APPLICATION_NAME=category-service
      - EUREKA_INSTANCE_PREFER_IP_ADDRESS=true
      - SPRING_DATASOURCE_URL=jdbc:postgresql://postgres-db:5432/category_db
      - SPRING_DATASOURCE_USERNAME=postgres
      - SPRING_DATASOURCE_PASSWORD=admin123!
      - SPRING_JPA_SHOW_SQL=true
      - SPRING_JPA_HIBERNATE_DDL_AUTO=update
      - LOGGING_LEVEL_ORG_HIBERNATE_SQL=debug
      - CLOUDINARY_CLOUD_NAME=http-voicetoworld-netlify-app
      - CLOUDINARY_API_KEY=958152517412848
      - CLOUDINARY_API_SECRET=h2eAzwp1zYxSKXe6lqHka-kopSQ
      - SPRING_SERVLET_MULTIPART_MAX_REQUEST_SIZE=10MB
      - SPRING_SERVLET_MULTIPART_MAX_FILE_SIZE=10MB
    depends_on:
      - discovery-server
      - postgres-db
    networks:
      - urutare-inc-network
      - kafka-network

  stock-service:
    image: urutare/stock-service
    build:
      context: ./stockm-stock-service
      dockerfile: Dockerfile
    restart: on-failure
    ports:
      - "8084:8084"
    container_name: stock-service
#    deploy:
#      resources:
#        limits:
#          cpus: '0.5'
#          memory: 512M
    env_file:
      - .env
    environment:
      - SERVER_PORT=8084
      - EUREKA_CLIENT_SERVICEURL_DEFAULTZONE=http://discovery-server:8761/eureka
      - SPRING_APPLICATION_NAME=stock-service
      - SPRING_DATASOURCE_URL=jdbc:postgresql://postgres-db:5432/stock_db
      - SPRING_DATASOURCE_USERNAME=postgres
      - SPRING_DATASOURCE_PASSWORD=admin123!
      - SPRING_JPA_SHOW_SQL=true
      - SPRING_JPA_HIBERNATE_DDL_AUTO=update
      - LOGGING_LEVEL_ORG_HIBERNATE_SQL=debug
      - SPRING_GRAPHQL_GRAPHIQL_ENABLED=true
      - SPRING_GRAPHQL_GRAPHIQL_PATH=/graphiql
    depends_on:
      - discovery-server
      - postgres-db
    networks:
      - urutare-inc-network
      - kafka-network

  sync-service:
    image: urutare/sync-service
    build:
      context: ./stockm-sync-service
      dockerfile: Dockerfile
    ports:
      - "8083:8083"
    restart: on-failure
    container_name: sync-service
#    deploy:
#      resources:
#        limits:
#          cpus: '0.5'
#          memory: 512M
    env_file:
      - .env
    environment:
      - SERVER_PORT=8083
      - EUREKA_CLIENT_SERVICEURL_DEFAULTZONE=http://discovery-server:8761/eureka
      - SPRING_APPLICATION_NAME=sync-service
      - EUREKA_INSTANCE_PREFER_IP_ADDRESS=true
      - DB_DATABASE=sync_db
    depends_on:
      - discovery-server
      - postgres-db
      - kafka-broker
    networks:
      - urutare-inc-network
      - kafka-network

  stockm-sms-gateway:
    restart: on-failure
    image: urutare/sms-service
    build:
      context: ./sms-gateway
      dockerfile: Dockerfile
    container_name: sms-gateway
    env_file:
      - .env
    ports:
      - "8085:8000"
#    deploy:
#      resources:
#        limits:
#          cpus: '0.5'
#          memory: 512M
    environment:
      - LOCAL_PORT=8000
      - EUREKA_INSTANCE_PREFER_IP_ADDRESS=true
      - GATEWAY_BASE_URL=http://api-gateway:8080
      - DATABASE_URL=postgresql+asyncpg://postgres:admin123!@postgres-db:5432/sms_db
      - EUREKA_SERVER_URL=http://discovery-server:8761/eureka
      - EUREKA_CLIENT_SERVICEURL_DEFAULTZONE=http://discovery-server:8761/eureka
      - SPRING_APPLICATION_NAME=sms-service
      - APP_NAME=sms-service
      - INSTANCE_HOST=localhost
    depends_on:
      - discovery-server
      - postgres-db
    networks:
      - urutare-inc-network
      - kafka-network

  payment-service:
    image: 'urutare/payment-service'
    build:
      context: ./stockm-payment-service
      dockerfile: Dockerfile
    container_name: "payment-service"
    restart: on-failure
    # deploy:
    #   resources:
    #     limits:
    #       cpus: '0.5'
    #       memory: 512M
    ports:
      - "8086:8086"
    env_file:
      - .env
    environment:
      - SERVER_PORT=${SERVER_PORT:-8086}
      - SERVER=${SERVER:-localhost:8080}
      - EUREKA_SERVER_URL=${EUREKA_SERVER_URL:-http://discovery-server:8761/eureka}
      - ENVIRONMENT=${ENVIRONMENT:-local}
      - DB_HOSTNAME=${DB_HOSTNAME:-localhost}
      - DB_PORT=${DB_PORT:-5432}
      - DB_USER=${DB_USER:-postgres}
      - DB_PASS=${DB_PASS:-admin123!}
      - KAFKA_BROKER_URL=${KAFKA_BROKER_URL}
      - EMAIL_HOST=${EMAIL_HOST:-sandbox.smtp.mailtrap.io}
      - EMAIL_PORT=${EMAIL_PORT:-2525}
      - EMAIL_USERNAME=${EMAIL_USERNAME:-705d2be64f2ce5}
      - EMAIL_PASSWORD=${EMAIL_PASSWORD:-a8ab4c437a6cff}
      - MTN_MOMO_API=${MTN_MOMO_API}
      - MTN_API_USER=${MTN_API_USER}
      - MTN_API_KEY=${MTN_API_KEY}
      - MTN_PRIMARY_KEY=${MTN_PRIMARY_KEY}
      - MTN_SECONDARY_KEY=${MTN_SECONDARY_KEY}
      - MTN_TARGET_ENV=${MTN_TARGET_ENV}
      - MTN_CALLBACK_URL=${MTN_CALLBACK_URL}

    depends_on:
      - discovery-server
      - postgres-db
      - user-service
      - kafka-broker
    networks:
      - urutare-inc-network
      - kafka-network


  nginx:
    image: nginx:latest
    container_name: "nginx"
    restart: on-failure
    ports:
      - "80:80"
    deploy:
      resources:
        limits:
          memory: 128M
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf
    depends_on:
      - api-gateway
    networks:
      - urutare-inc-network

networks:
  urutare-inc-network:
    driver: bridge
  kafka-network:
    driver: bridge

volumes:
  postgres-data:
  kafka-data: