server:
  port: 9092
eureka:
  instance:
    prefer-ip-address: true
  client:
    serviceUrl:
      defaultZone: http://localhost:8761/eureka
spring:
  application:
    name: api-gateway
  cloud:
    gateway:
      globalcors:
        cors-configurations:
          '[/**]':
            allowedHeaders: "*"
            allowedOrigins: "*"
            maxAge: 3600
            allowedMethods:
              - GET
              - POST
              - PUT
              - DELETE
              - PATCH
              - OPTIONS
      discovery:
        locator:
          enabled: true
          lower-case-service-id: true
      routes:
        - id: user-service
          uri: lb://user-service
          predicates:
            - Path=/api/v1/user-service/**
        - id: category-service
          uri: lb://category-service
          predicates:
            - Path=/api/v1/category-service/**
          filters:
            - AuthenticationFilter
        - id: discovery-server
          uri: http://localhost:8761
          predicates:
            - Path=/eureka/web
          filters:
            - SetPath=/
        - id: discovery-server-static
          uri: http://localhost:8761
          predicates:
            - Path=/eureka/**
        - id: stock-service
          uri: lb://stock-service
          predicates:
            - Path=/api/v1/stock-service/**,/graphql
          filters:
            - AuthenticationFilter
        - id: sync-service
          uri: lb://sync-service
          predicates:
            - Path=/api/v1/sync-service/**
          filters:
            - AuthenticationFilter

jwt:
  secret: tokenistoken

logging:
  level:
    org:
      springframework:
        cloud:
          gateway: TRACE

    ## ROOT LOGGER OF THE WHOLE APPLICATION
    root: INFO

