# DEFAULT
server.port=8084
eureka.client.serviceUrl.defaultZone=http://localhost:8761/eureka
eureka.instance.prefer-ip-address=true
spring.application.name=sync-service

# POSTGRESQL
spring.datasource.url=jdbc:postgresql://localhost:5432/sync_service_db
spring.datasource.username=postgres
spring.datasource.password=postgres
spring.jpa.show-sql=true
spring.jpa.hibernate.ddl-auto=create-drop
logging.level.org.hibernate.SQL=debug

# JWT
jwt.secret=UrutareIncStockM

