version: '3'
services:
  discovery-server:
    build: .
    ports:
      - "8761:8761"
    environment:
      - EUREKA_INSTANCE_HOSTNAME=localhost
      - EUREKA_CLIENT_REGISTER_WITH_EUREKA=false
      - EUREKA_CLIENT_FETCH_REGISTRY=false
      - EUREKA_CLIENT_SERVICEURL_DEFAULTZONE=http://discovery-server:8761/eureka
      - EUREKA_SERVER_LEASE_RENEWAL_INTERVAL_IN_SECONDS=15
      - EUREKA_SERVER_LEASE_EXPIRATION_DURATION_IN_SECONDS=60
      - SERVER_PORT=8761
      - SPRING_APPLICATION_NAME=discovery-server
