# DEFAULT
server.port=8082
eureka.client.serviceUrl.defaultZone=http://localhost:8761/eureka
eureka.instance.prefer-ip-address=true
spring.application.name=category-service

# POSTGRESQL
spring.datasource.url=jdbc:postgresql://localhost:5432/stockm_category_service_db
spring.datasource.username=postgres
spring.datasource.password=postgres
spring.jpa.show-sql=true
spring.jpa.hibernate.ddl-auto=update
logging.level.org.hibernate.SQL=debug

# JWT
jwt.secret=UrutareIncStockM
