version: '3'
services:
  stock-service:
    build: .
    ports:
      - "8084:8084"
    environment:
      - SERVER_PORT=8084
      - EUREKA_CLIENT_SERVICEURL_DEFAULTZONE=http://discovery-server:8761/eureka
      - SPRING_APPLICATION_NAME=stock-service
      - SPRING_DATASOURCE_URL=jdbc:postgresql://postgres:5432/stock_service_db
      - SPRING_DATASOURCE_USERNAME=postgres
      - SPRING_DATASOURCE_PASSWORD=admin123!
      - SPRING_JPA_SHOW_SQL=true
      - SPRING_JPA_HIBERNATE_DDL_AUTO=create-drop
      - LOGGING_LEVEL_ORG_HIBERNATE_SQL=debug
      - SPRING_GRAPHQL_GRAPHIQL_ENABLED=true
      - SPRING_GRAPHQL_GRAPHIQL_PATH=/graphiql

  postgres:
    image: postgres
    ports:
      - "5432:5432"
    environment:
      - POSTGRES_DB=stock_service_db
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=admin123!
