name: Build and Test
on:
  push:
    branches: [develop]
  pull_request:
    branches: [develop, ft-*, bg-*, hotfix-*]

jobs:
  build:
    runs-on: ubuntu-latest
    # Service containers to run with `container-job`
    services:
      # Label used to access the service container
      postgres:
        # Docker Hub image
        image: postgres
        # Provide the password for postgres
        env:
          POSTGRES_USER: postgres
          POSTGRES_PASSWORD: postgres
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
        ports:
          # Maps TCP port 5432 on service container to the host
          - 5432:5432
    env:
      SPRING_DATASOURCE_URL: jdbc:postgresql://localhost:5432/postgres
      SPRING_DATASOURCE_USERNAME: postgres
      SPRING_DATASOURCE_PASSWORD: postgres
      SPRING_JPA_SHOW_SQL: "true"
      SPRING_JPA_HIBERNATE_DDL_AUTO: "create-drop"
      LOGGING_LEVEL_ORG_HIBERNATE_SQL: "debug"
      SPRING_MAIL_USERNAME: ${{ secrets.MAIL_USERNAME }}
      SPRING_MAIL_PASSWORD: ${{ secrets.MAIL_PASSWORD }}
      SPRING_MAIL_HOST: smtp.gmail.com
      SPRING_MAIL_PORT: 587
      SPRING_MAIL_PROPERTIES_MAIL_SMTP_AUTH: "true"
      SPRING_MAIL_PROPERTIES_MAIL_SMTP_STARTTLS_ENABLE: "true"
      STOCKM_API_SECRET_KEY: ${{ secrets.STOCKM_API_SECRET_KEY }}
      STOCKM_TOKEN_VALIDITY: 86400000
      STOCKM_BASE_URL: http://localhost:8080
    strategy:
      matrix:
        java-version: [17]

    steps:
      - uses: actions/checkout@v2

      - name: Set up Java
        uses: actions/setup-java@v2
        with:
          java-version: "17"
          distribution: "adopt"

      - name: Build with Maven
        run: mvn -B package --file pom.xml

      - name: Test with Maven
        run: mvn -B test --file pom.xml
